<%= render 'layouts/errors', :object => @post %>

<%= form_for @post do |f| %>
  <p><%= f.label :title %>
  <%= f.text_field :title %></p>
  <p><%= f.label :date %>
  <%= f.date_field :date %></p>
  <p><%= f.label :content %>
  <%= f.text_area :content %></p>

  <h4>Add Tags:</h4>
    <ul>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :description) do |b| %>
      <li><%= b.label { b.check_box } %>
      <%= b.object.description %></li>
    <% end %>
    </ul>

  <%= f.submit %>
<% end %>
