<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% if @post.tags.any? %>
  <h5>Tags for this post:</h5>

  <ul>
    <% @post.tags.each do |tag| %>
      <li>
        <%= tag.description %></li> |
        <%= link_to "Edit", edit_post_tag_path(@post, tag) %> |
        <%= link_to "Delete", post_tag_path(@post, tag), :data => {:confirm => "Are you sure you want to delete this tag?", :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet!</p>
<% end %>

<p><%= link_to "Add a tag", new_post_tag_path(@post) %></p>

<p><%= link_to "Edit Post", edit_post_path(@post) %></p>
<p><%= link_to "Delete Post", post_path(@post), :data => {:confirm => "Are you sure you want to delete this post?", :method => "delete"} %></p>
<p><%= link_to "Return to Homepage", posts_path %></p>
